body {
  background-image: url("img/0_I-sI3u34g0ydRqyA");
  background-size: cover;
}

table tr td {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.update {

  margin: 10px;
  padding: 5px;
  width: 100px;
  color: black;
}

.delete {
 
  margin: 10px;
  width: 100px;
  padding: 5px;
  color: black;
}



.input2 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 32%;
  margin-left: 35%;
  margin-bottom: 30px;
}

.input2:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.input2:main,
.input2:focus {
  user-select: auto;
}

.input2:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.input2:disabled {
  cursor: auto;
}

.input2:active {
  border-width: 4px 0 0;
  background: none;
}

.input1 {
  width: 30%;
  padding: 15px;
  padding-left: 45px;
  padding-right: 30px;
  margin-left: 28%;
  margin-top: 17px;
  font-family: din-round, sans-serif;
  border-radius: 8px;
}



.container {
  background-color: white;
  width: 21%;
  margin: 0 auto;
  padding: 40 px;
  border: 1 px solid black;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 500px;
}

.div2{
  width: 30%;
  font-family: din-round, sans-serif;
}


.div1{
  margin-left: 250px;
  font-family: din-round, sans-serif;
}

.div3{
  width: 20%;
  margin-right: 40%;
  margin-left: 42.5%;
  margin-top: 20%;
  font-family: din-round, sans-serif;
}

a{
  text-decoration: none;
}
