body{
    background-image : url("img/0_I-sI3u34g0ydRqyA");
    background-size : cover;
}
table tr td{
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.update{
    background-color: rgb(103, 126, 218);
    margin: 10px;
    padding: 5px;
    width: 100px;
    color: black;
}
.delete{
    background-color: rgba(183, 188, 82, 0.52);
    margin: 10px;
    width: 100px;
    padding: 5px;
    color:black;
}



.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 32%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

#PrName{
    width : 90%;
    padding: 10px;
}


#PrPrice{
    width : 29%;
    padding: 10px;
}

#PrImage{
    width : 29%;
    padding: 10px;
}

#PrDes{
    width : 29%;
    padding: 10px;
}

#PrUUID{
    width : 29%;
    padding: 10px;
}

#PrType{
    width : 29%;
    padding: 10px;
}

#PrLocation{
    width : 29%;
    padding: 10px;
}

.container{
    background-color:black;
    width : 21%;
    margin : 0 auto;
    padding : 40 px;
    border : 1 px solid black;
    border-radius: 20px;

}
